<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  <link rel="stylesheet" href="./style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<title>Bucket List</title>
<meta charset="UTF-8">
</head>
<body>
  <div id="app">
    <login-component v-if="!isLogin"> </login-component>
    <home-component v-else> </home-component>
  </div>

<!-- LOGIN TEMPLATE -->
  <template id="login-template">
    <div>
      <section class="hero is-info is-fullheight">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Login
            </h1>
            <fb:login-button id="logInPop"scope="public_profile,email" onlogin="checkLoginState()" ></fb:login-button>
            <h2 class="subtitle">
            </h2>
          </div>
        </div>
      </section>
    </div>
  </template>

  <!-- HOME TEMPLATE -->
  <template id="home-template">
    <div>
      <nav class="navbar is-link">
        <div class="navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
          </div>

          <div class="navbar-end">
            <a class="navbar-item">
              <fb:login-button id="logInPop" scope="public_profile,email" onlogin="checkLoginState();">
              </fb:login-button>
            </a>
            <a class="navbar-item" id="logoutButton" @click="logOut">
              Log Out
            </a>
          </div>
        </div>
      </nav>

        <div class="container">
          <div class="columns">
            <div class="column is-one-quarter">
              <nav class="panel" style="margin:20px;">
                  <p class="panel-heading">
                      FILL YOUR BUCKET LIST
                  </p>
                  <div class="panel-block">
                    <p class="control has-icons-left">
                      <input class="input is-small" type="text" placeholder="search done bucket list">
                      <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                      </span>
                    </p>
                  </div>
                  <h1 class="panel-tabs">
                    <strong>{{100 - buckets.length}} MORE TO GO</strong>
                  </h1>

                  <div class="panel-block">
                    <ul>
                      <li v-for="(bucket,i) in buckets"> {{i+1}}. {{bucket}}</li>
                    </ul>
                  </div>
                </nav>
            </div>
            <div class="column is-two-thirds">
              <section class="hero is-info">
              <div class="hero-body">
                <div class="container">
                  <div class="columns is-vcentered">
                      <h1 class="title">
                        Hello, {{user.name}}!
                      </h1>
                    </div>
                    <div class="column is-two-fifths">
                            <div class="field is-grouped">
                              <div class="control has-icons-left is-expanded">
                                <input type="text" v-model="todoName" class="input" placeholder="What is your main focus for today?" required="">
                              </div>
                              <div class="control">
                                <input type="submit" @click="create" class="button is-white is-outlined">
                              </div>
                            </div>
                      </div>
                  </section>
                  <table class="table">
                    <tr>
                      <th>No</th>
                      <th>To Do</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                    <tr v-for="(todo,i) in todos" :id=todo._id class='todos'>
                      <td>{{i+1}}</td>
                      <td v-if="todo.status" :style="styleToDo"> {{todo.name}} </td>
                      <td v-else >{{todo.name}}</td>
                      <td>
                        <button v-if="todo.status" type="button" name="button" @click="complete(todo._id)">Incomplete</button>
                        <button v-else type="button" name="button" @click="complete(todo._id)">Complete</button>
                      </td>
                      <td>
                        <button type="button" name="button" @click="getModalEdit(todo._id)">Edit</button>
                        <button type="button" name="button" @click="deleteToDo(todo._id)">Delete</button>
                        <button v-if="todo.status" type="button" name="button" @click="submitToDo(todo)">Add to bucket</button>
                    </tr>
                  </table>
          </div>
        </div>
      </div>
      <div class="modal" id="modalEdit">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Edit To Do</p>
            <button class="delete" aria-label="close" @click="closeModalToDo"></button>
          </header>
          <section class="modal-card-body">
            Name
            <input v-model="todoName" type="text" name="" value="">
            <input v-model="todoId" type="hidden" value="">
          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" @click="editToDo">Save changes</button>
            <button class="button" @click="closeModalToDo">Cancel</button>
          </footer>
        </div>
      </div>
      <footer class="footer">
  <div class="container">
    <div class="content has-text-centered" >
      <p>
        {{quotes}}
      </p>
    </div>

  </div>
</footer>
    </div>
  </template>

  <script src="./fbLogin.js"></script>
  <script src="./functions.js"></script>
</body>
</html>
